.footer-copyright{
    background-color: #555555;
    color: white;
}
a{
    color: white;
}
footer{
    background: #003D79;
}
h5{
    color: white;
    text-align: center;
}
ul{
    list-style-type: none;
    text-align: center;
}
.col-md-4{
    align-items: center;
}
img{
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#socialmedia2{
   margin-right: -50%;
}
#socialmedia1{
    margin-left: -50%;
}