<div id="wrapper">
    <section id="bloque1">

    </section>
    <div id="bloque2" class="container">
    <div class="jumbotron ">
        <img  src="../../assets/img/siyelogo.png" alt="SIYE" height="100px" >
        <p class="lead">Logeate para comenzar</p>
        <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
        <ng-template #welcomeUser>
        <h4>Welcome {{ user.displayName }}!</h4>
        <p>Use the navigation bar at the top of the page to get started.</p>
        </ng-template>
        <ng-template #signInPrompt>
        <a href="javascript:undefined" class="btn btn-primary btn-large" role="button" (click)="signIn()">Click here to sign in</a>
        </ng-template>
    </div>
</div>
    <section id="bloque3"></section>
</div>